<div class="grey lighten-1">

    <nav class="nav-wrapper red lighten-1">
        <div class="container">
            <a class="brand-logo" href="">Logo</a>

            <ul class="right hide-on-med-and-down">
                <li><a href="">Enlace</a></li>
                <li><a href="">Enlace</a></li>
                <li><a href="">Enlace</a></li>
            </ul>
        </div>
    </nav>

    <a style="position: fixed; left: 20px;top: 10px;" data-target="slide-out" class="sidenav-trigger red darkern-1
    btn-floating waves-effect waves-light" href="">
        <i class="material-icons">menu</i>
    </a>


    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="./assets/office.jpg">
                </div>
                <a href="#user"><img class="circle" src="./assets/yuna.jpg"></a>
                <a href="#name"><span class="white-text name">John Doe</span></a>
                <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div>
        </li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>


</div>